{% extends 'base.html' %}

{% block content %}
{% load bootstrap5 %}
{% bootstrap_css %}

<form method='POST'>
    {% csrf_token %}
    課程：{{ cf.form.courseName }}
    教授：{{ cf.form.professor }}
    開課學院：{{ cf.form.college }}
    <input type="submit" class="btn btn-primary" value="查詢" />
</form>
<br />
<table class="table">
    <thead>
        <th>編號</th>
        <th>課程</th>
        <th>教授</th>
        <th>學期</th>
    </thead>
    <tbody>
            {% for i in resp %}
                {% for j in cf.qs %}
                <tr>
                    {% if i.course.id == j.id %}
                    <td><a href="{% url 'course_detail' i.id %}">{{ i.id }}</a></td>
                    <td>{{ i.course.courseName }}</td>
                    <td>{{ i.course.professor }}</td>
                    <td>{{ i.course.semester }}</td>  
                    {% endif %}
                </tr>
                {% endfor %}
            {% endfor %}
    </tbody>
</table>
{% endblock  %}